<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<inpu>
    <form>
        <label><div style="background-color: red;">
            
                <input type="radio" name="gender" value="male">
                Male
            
        </div></label>
        

        <label><div style="background-color: rgb(60, 184, 48);">
            <label>
                <input type="radio" name="gender" value="male">
                Male
            </label>
        </div></label>
        
        
        
    </form>
</body>
</html>