{% include 'navbar.html' %}
{% load static %}

<!-- <div class="btn_container">

    <a href="/department" style="color: black;" class="btn"><button>For Organization</button></a>
    <a href="/student" style="color: black;" class="btn"><button>For Students</button></a>

</div> -->


<div class="container-fluid">
    <h1 class="display-4  row justify-content-center mt-5">"Challenge Your Mind with Quizizz!"</h1>

    <div class="row justify-content-center mt-5">
        <a href="/dept-login"><button class="btn btn-lg mr-5" id="btn-home">For Organization</button></a>
    <a href="/student-register"><button class="btn btn btn-lg mr-5" id="btn-home">For Students</button></a>
    </div>

    <hr class="mt-5">
</div>










