{% extends 'navbar.html' %}

{% block content1 %}
<div class="nav-item navbar-right mr-5">
    <a href="{% url 'dept-logout' %}"><button class="btn btn-primary  justify-content-end">Logout</button></a>
  </div>
{% endblock content1 %}


{% block content2 %}
    <div class="container">
        <h1 class="mt-5">Exams</h1>
        <br>
        <table class="table table-striped">
            <!-- class="dept_table" align="center" cellpadding="5" cellspacing="5" -->
               <th>No.</th>
               <th>Exam Name</th>
               <th>Exam Code</th>
                <th>Questions</th>
                <th>Delete Department</th>
        {% for ex in exams %}
        <tr>
            <td>{{ forloop.counter }}.</td>
            <td>{{ex.exam_name}}</td> 
            <td>{{ex.exam_code}}</td> 
            <td style="font-weight: bold;"><a href="show_questions/{{ex.id}}"><button class="btn btn-secondary">Show Questions</button></a></td>
            <td><a href="delete_exam/{{ex.id}}"><button class="btn btn-danger">Delete Exam</button></a></td>
        </tr>
            
        {% endfor %}
    
    </table>
    <a href="{% url 'newExamCreation' dept %}"><button class="btn btn-success  mt-3">Create New Exam</button></a>
    </div>
{% endblock content2 %}